body {
    margin: 0px;
    padding: 0px;
    font-family: Courier New, Courier, monospace;
}

form {
    display: inline-block;
    position: relative;
}

#banner {
    margin: 0em 0em 1em 0em;
    padding: .5em;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1em;
    color: black;
    border: solid black;
    border-width: 0px 0px 1px 0px;
}

#list {
    list-style-type: none;
    line-height: 1.5em;
}

#list .game.round_ a {
    color: green;
}

#list .game a {
    color: orange;
    text-decoration: none;
}

#list .game a:hover {
    font-weight: bold;
}

#list .game.round_done a {
    color: red;
}

input.text {
    width: 250px;
    height: 1.5em;
    border: 1px solid black;
}

#chat input {
    width: 250px;
    height: 1.5em;
    border: 1px solid black;
}

#app {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#banner a {
    text-decoration: none;
    color: inherit;
}

#chat form {
    text-align: left;
    width: 300px;
}

#chat input {
    width: 250px;
    height: 1.5em;
    border: 1px solid black;
}

#players {
    float: left;
    width: 120px;
}

#table {
    text-align: center;
    display: inline-block;
    width: 360px;
    border: 1px solid black;
    padding: .5em;
    margin: .5em;
    border-radius: .5em;
}

#table.round_ {
    display: none;
}

/* #table div { */
/*     display: inline-block; */
/*     border: 1px solid black; */
/*     padding: .5em; */
/*     margin: .5em; */
/*     border-radius: .5em; */
/* } */

#pot {
    text-align: center;
}

#round {
    float: right;
    width: 120px;
}

#you {
    text-align: center;
}

#you #state {
    float: left;
    padding-right: 1em;
    display: block;
    width: 120px;
}

.card {
    width: 100px;
    height: 125px;
    background-size: 100%;
    margin: 2px;
    text-align: center;
    vertical-align: top;
}

span.card {
    display: inline-block;
}

input.card {
    border: none;
    cursor: pointer;
}

input.card:hover {
    border: 1px solid red;
    border-radius: 7px;
}

/* Players */
.player {
}

/* Artifacts */
.card_cockring    { background-image: url('img/artifacts/cockring.png'); }
.card_gingerbread { background-image: url('img/artifacts/gingerbread.png'); }
.card_nazi        { background-image: url('img/artifacts/nazi.png'); }
.card_shrek       { background-image: url('img/artifacts/shrek.png'); }
.card_tube        { background-image: url('img/artifacts/tube.png'); }

/* Hazards */
.card_bitches { background-image: url('img/hazards/bitches.png'); }
.card_bricks  { background-image: url('img/hazards/bricks.png'); }
.card_fire    { background-image: url('img/hazards/fire.png'); }
.card_snakes  { background-image: url('img/hazards/snakes.png'); }
.card_spiders { background-image: url('img/hazards/spiders.png'); }

/* Treasures */
.pot { background-image: url('img/treasures/pot.png'); }
.pot.pot_ { visibility: hidden; width: 0px; height: 0px; }
.pot.pot_0 { visibility: hidden; width: 0px; height: 0px; }
.card_1  { background-image: url('img/treasures/1.png'); }
.card_2  { background-image: url('img/treasures/2.png'); }
.card_3  { background-image: url('img/treasures/3.png'); }
.card_4  { background-image: url('img/treasures/4.png'); }
.card_5  { background-image: url('img/treasures/5.png'); }
.card_7  { background-image: url('img/treasures/7.png'); }
.card_9  { background-image: url('img/treasures/9.png'); }
.card_11 { background-image: url('img/treasures/11.png'); }
.card_13 { background-image: url('img/treasures/13.png'); }
.card_14 { background-image: url('img/treasures/14.png'); }
.card_15 { background-image: url('img/treasures/15.png'); }
.card_17 { background-image: url('img/treasures/17.png'); }

.card_1.captured  { background-image: url('img/treasures/1_captured.png'); }
.card_2.captured  { background-image: url('img/treasures/2_captured.png'); }
.card_3.captured  { background-image: url('img/treasures/3_captured.png'); }
.card_4.captured  { background-image: url('img/treasures/4_captured.png'); }
.card_5.captured  { background-image: url('img/treasures/5_captured.png'); }
.card_7.captured  { background-image: url('img/treasures/7_captured.png'); }
.card_9.captured  { background-image: url('img/treasures/9_captured.png'); }
.card_11.captured { background-image: url('img/treasures/11_captured.png'); }
.card_13.captured { background-image: url('img/treasures/13_captured.png'); }
.card_14.captured { background-image: url('img/treasures/14_captured.png'); }
.card_15.captured { background-image: url('img/treasures/15_captured.png'); }
.card_17.captured { background-image: url('img/treasures/17_captured.png'); }

/* Rounds */
.current_round_ { display: none }
/* .current_round_ .round_5 { background-image: url('img/round/back.png'); } */
/* .current_round_ .round_4 { background-image: url('img/round/back.png'); } */
/* .current_round_ .round_3 { background-image: url('img/round/back.png'); } */
/* .current_round_ .round_2 { background-image: url('img/round/back.png'); } */
/* .current_round_ .round_1 { background-image: url('img/round/back.png'); } */

.current_round_1 .round_5 { background-image: url('img/round/back.png'); }
.current_round_1 .round_4 { background-image: url('img/round/back.png'); }
.current_round_1 .round_3 { background-image: url('img/round/back.png'); }
.current_round_1 .round_2 { background-image: url('img/round/back.png'); }
.current_round_1 .round_1 { background-image: url('img/round/1_active.png'); }

.current_round_2 .round_5 { background-image: url('img/round/back.png'); }
.current_round_2 .round_4 { background-image: url('img/round/back.png'); }
.current_round_2 .round_3 { background-image: url('img/round/back.png'); }
.current_round_2 .round_2 { background-image: url('img/round/2_active.png'); }
.current_round_2 .round_1 { background-image: url('img/round/1.png'); }

.current_round_3 .round_5 { background-image: url('img/round/back.png'); }
.current_round_3 .round_4 { background-image: url('img/round/back.png'); }
.current_round_3 .round_3 { background-image: url('img/round/3_active.png'); }
.current_round_3 .round_2 { background-image: url('img/round/2.png'); }
.current_round_3 .round_1 { background-image: url('img/round/1.png'); }

.current_round_4 .round_5 { background-image: url('img/round/back.png'); }
.current_round_4 .round_4 { background-image: url('img/round/4_active.png'); }
.current_round_4 .round_3 { background-image: url('img/round/3.png'); }
.current_round_4 .round_2 { background-image: url('img/round/2.png'); }
.current_round_4 .round_1 { background-image: url('img/round/1.png'); }

.current_round_5 .round_5 { background-image: url('img/round/5_active.png'); }
.current_round_5 .round_4 { background-image: url('img/round/4.png'); }
.current_round_5 .round_3 { background-image: url('img/round/3.png'); }
.current_round_5 .round_2 { background-image: url('img/round/2.png'); }
.current_round_5 .round_1 { background-image: url('img/round/1.png'); }

.current_round_done .round_5 { background-image: url('img/round/5.png'); }
.current_round_done .round_4 { background-image: url('img/round/4.png'); }
.current_round_done .round_3 { background-image: url('img/round/3.png'); }
.current_round_done .round_2 { background-image: url('img/round/2.png'); }
.current_round_done .round_1 { background-image: url('img/round/1.png'); }


/* You */

.your_name {
    font-size: 2em;
    font-weight: bold;
}
.join      { background-image: url('img/player/join.png') }
.loot      { background-image: url('img/player/loot.png') }
.joined    { background-image: url('img/player/start.png') }
.start     { background-image: url('img/player/start.png') }
.camp      { background-image: url('img/player/camp.png') }
.lando     { background-image: url('img/player/lando.png') }
.han       { background-image: url('img/player/han.png') }
.undecided { background-image: url('img/player/undecided.png') }
.moved     { background-image: url('img/player/moved.png') }
.death     { background-image: url('img/player/death.png') }
.won       { background-image: url('img/player/won.png') }
.lost      { background-image: url('img/player/lost.png') }

/* Updates */
#updates div {
    text-align: left;
    color: #666;
    line-height: 1.5em;
    padding-right: 1em;
}

#updates .speaker {
    color: black;
    font-weight: bold;
}
#updates .message {
    color: black;
}