{{#game}}
  <div class="players">
    {{#players}}
      <div class="player {{state}}">
        <span class="player_name">{{name}}</span>
        {{#loot}}<span class="loot">{{loot}} gold</span>{{/loot}}
        {{#artifacts}}<span class="artifact {{.}}"></span>{{/artifacts}}
      </div>
    {{/players}}
  </div>
  <div class="table">
    {{#captured}}
      <span class="card captured card_{{.}}"></span>
    {{/captured}}
    {{#table}}
      <span class="card card_{{.}}"></span>
    {{/table}}
  </div>
  <div class="pot">{{pot}}</div>
  <div class="round current_round_{{round}}">
    <span class="card round_1"></span>
    <span class="card round_2"></span>
    <span class="card round_3"></span>
    <span class="card round_4"></span>
    <span class="card round_5"></span>
  </div>
{{/game}}