{{#game}}
  <div id="players">
    {{#players}}
      <div class="player card {{state}}">
        <span class="player_name">{{name}}</span>
        {{#loot}}: {{loot}} gold{{/loot}}
        {{#artifacts}}, {{.}}{{/artifacts}}
      </div>
    {{/players}}
  </div>
  <div id="round" class="current_round_{{round}}">
    <div class="card round_1"></div>
    <div class="card round_2"></div>
    <div class="card round_3"></div>
    <div class="card round_4"></div>
    <div class="card round_5"></div>
  </div>
  <div id="table" class="round_{{round}}">
    <span class="card pot pot_{{pot}}">{{pot}}</span>
    {{#captured}}
      <span class="card captured card_{{.}}"></span>
    {{/captured}}
    {{#table}}
      <span class="card card_{{.}}"></span>
    {{/table}}
  </div>
{{/game}}