{{#updates}}
  <div>
    {{#more_players}}Waiting for more players.{{/more_players}}
    {{#join}}<strong>{{name}}</strong> joined the game.{{/join}}
    {{#start}}<strong>{{name}}</strong> wants to start venturing.{{/start}}
    {{#move}}<strong>{{name}}</strong> made their move.{{/move}}
    {{#han}}{{#players}}<strong>{{.}}</strong> {{/players}} went han.{{/han}}
    {{#lando}}
      {{#players}}<strong>{{.}}</strong> {{/players}}
        landoed out, capturing <strong>{{value}}</strong> gold and leaving <strong>{{pot}}</strong> behind.
    {{/lando}}
    {{#death}}
      {{#players}}<strong>{{.}}</strong> {{/players}}
        died of <strong>{{card}}</strong>.
    {{/death}}
    {{#round}}Round <strong>{{round}}</strong>{{/round}}
    {{#artifacts_in_play}}<strong>{{artifacts_in_play}}</strong> is in the deck.{{/artifacts_in_play}}
    {{#card}}<strong>{{card}}</strong> on the table.{{/card}}
    {{#chat}}
      <span class="speaker">{{speaker}}:</span>
      <span class="message">{{message}}</span>
    {{/chat}}
  </div>
{{/updates}}
